
/* Wireframing Font */
@font-face {
    font-family: 'redactedregular';
    src: url('../font/redacted-regular.eot');
    src: url('../font/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/redacted-regular.woff') format('woff'),
         url('../font/redacted-regular.ttf') format('truetype'),
         url('../font/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Title Font */
@font-face {
    font-family: 'typoslabserif-lightregular';
    src: url('../font/TypoSlabserif-Light-webfont.eot');
    src: url('../font/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TypoSlabserif-Light-webfont.woff') format('woff'),
         url('../font/TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('../font/TypoSlabserif-Light-webfont.svg#typoslabserif-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Main page Styling */

body {
    background: url(../img/bg.png);
    color: #fff;
    margin: 30px 0;
}

h1 {
    color: #fff;
    font-family: 'typoslabserif-lightregular';
    float: left;
    
}

#camera {
    width: 7%;
    float: left;
    margin-right: 10px;
}

a {
    color: darkgrey;
}

a:hover {
    color: grey;
}

.gallery {
    margin-top: 25px;
}

.gallery .th {
	float: left;
	margin: 0 20px 10px 0;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

p, h3, a {
	font-family: 'redactedregular';
    line-height: 150%;

}

.grid,
.list{
    width: 9%;
    float: right;
    margin: 0 5px 45px 5px;
}

.grid {
    margin-right: 60px;
}

/* Gallery Styling */

.img-th {
    margin: 0 5px 0 5px;
    width: 240px;
    height: 150px;
    overflow: hidden;

}

.mainpg-btn {
    padding-left: 0px;
    margin-top: 20px;
}

.button {
    background: darkgrey;
}

.button:hover {
    background: grey;
}

/*Media Queries*/

@media screen and (max-width: 840px) {
    .grid,
    .list{
        width: 12%;
        
}

@media screen and (max-width: 750px) {
    .grid,
    .list{
        width: 12%;
        
}

    }
@media screen and (max-width: 650px) {
    .grid,
    .list{
        width: 12%;
        
    }

@media screen and (max-width: 550px) {
    .grid,
    .list{
        width: 15%;
        
}

@media screen and (max-width: 500px) {
    .grid,
    .list{
        width: 20%;
        
    }

    }